.order-page{
    display: flex;
}
.form{
    text-align: left;
    border-style: solid;
    margin-top: 90px;
    margin-left: 600px;
    padding: 50px;
}
.link-to-more{
    margin: 20px;
    text-align: center; 
}
.link-to-more>a{
    color: black;
}
a:hover{
    background-color:  rgb(0, 0, 0);
    color:  rgb(249, 205, 229);
}
